<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
        <div class="logo logo-light"></div>
    </a>
    <ul class="unstyled contact-logos logo-header">
        <li><a href="mailto:{{ site.email }}" target="blank" class="contact-logo icon-mail"></a></li>
        <li><a href="http://twitter.com/{{ site.twitterAccount }}" target="blank" class="contact-logo icon-twitter"></a></li>
    </ul>
</header>