<!-- Begin Office Section -->
<section id="office">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.officeBlockTitle }}</h3>
            <div class="row office-row">
                <div class="col-md-8 col-sm-8 office-col">
                    <div class="office-elem-wrapper">
                        <div class="office-elem image-section office-big-elem office-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/{{ site.officeMainImage }})"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 office-col office-small-col">
                    <div class="office-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="office-elem image-section office-small-elem office-img animated hiding" data-animation="fadeIn" data-delay="150" style="background-image: url({{ site.baseurl }}/img/{{ site.officeImage1 }})"></div>
                    </div>
                    <div class="office-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="office-elem image-section office-small-elem office-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/{{ site.officeImage2 }})"></div>
                    </div>
                    <div class="office-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="office-elem image-section office-small-elem office-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/{{ site.officeImage3 }})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Office Section -->
