.about-details {
  margin-top: 10px;
    img {
        width: 128px;
    }
    p {
        margin-top: 10px;
    }
}
.about-icon-1 {
  color: #f99638;
}
.about-icon-2 {
  color: #DA182E; 
}
.about-icon-3 {
  color: #00AE68;
}
.about-title-h5 {
  margin-left: 5px;
}
